#hide {
  /* opacity: 0.3; */
  display: none;
  transition: 0.5s;
}
.modal-header {
  color: rgb(105, 105, 105);
  text-align: center;
}
.full_modal-dialog {
  width: 98% !important;
  height: 92% !important;
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}

.full_modal-content {
  height: 99% !important;
  min-height: 99% !important;
  max-height: 99% !important;
}
.modal-body {
  background-image: url('../images/brijan-pale.gif');
  display: flex;
  /* display: none; */
  align-content: center;
  justify-content: center;
}
.m3rlin-options,
.m3rlin-main-menu-btns {
  /* display: none; */
  background-image: url('../images/brijan-pale.gif');
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin: 0px;
  padding: 50px;
}
.m3rlin-btn {
  background-color: white;
  border: 5px solid #696969;
  border-radius: 10px;
  background-size: contain;
  font-size: 1.5em;
  margin: 10px;
  align-content: center;
  padding: 3% 7% 3% 7%;
  transition: 0.3s;
}
.modal-footer {
  display: none;
  background-image: url('../images/brijan-pale.gif');
}
#m3rlin-continue {
  background: rgb(171, 250, 171);
  transition: 0.3s;
}
.m3rlin-btn:hover,
#m3rlin-continue:hover {
  background: #696969;
  color: white;
  border: 5px solid orange;
}

#quick-confirm {
  /* display: flex; */
  display: none;
}
.m3rlin-quickstart-btns {
  display: flex;
  align-content: space-between;
  justify-content: center;
}
