#hide {
  opacity: 0.3;
  display: none;
}
.modal-header {
  color: rgb(105, 105, 105);
  text-align: center;
}
.full_modal-dialog {
  width: 98% !important;
  height: 92% !important;
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}

.full_modal-content {
  height: 99% !important;
  min-height: 99% !important;
  max-height: 99% !important;
}
.modal-body {
  background-image: url('../images/brijan-pale.gif');
  display: flex;
  align-content: center;
  justify-content: center;
}
.m3rlin-options {
  display: flex;
  justify-content: space-around;

  width: 90%;
  margin: 20px;
  padding: 50px;
}
.m3rlin-btn {
  background-color: white;
  border: 5px solid #2a93ad;
  border-radius: 10px;
  background-size: contain;
  font-size: 1.5em;
  /* margin: 10px; */
  align-content: center;
  padding: 5% 7% 5% 7%;
  transition: 0.5s;
}

.m3rlin-btn:hover {
  background: #2a93ad;
  color: white;
  border: 5px solid orange;
}
